@import '/styles/theme.scss';

.wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 9999;
}

.filters-content {
  background: map-get($theme, 'colors', 'secondary', 'main');
  color: map-get($theme, 'colors', 'primary', 'main');
  padding: 0px;
  width: 65px;
  transition: all 0.4s ease;

  div.open-button_wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    div.open-button {
      display: flex;
      align-items: center;
      transform: rotate(-90deg);
      height: fit-content;

      p {
        margin-right: 15px;
        font-size: 2.5rem;
      }
    }
  }

  div.content {
    div.flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h2 {
      font-weight: 200;
      font-size: 3rem;
    }
    button {
      border: 1px dashed map-get($theme, 'colors', 'primary', 'main');
      border-radius: 50%;
      padding: 10px;
      background: transparent;
      display: flex;
      align-items: center;
      cursor: pointer;

      svg {
        color: map-get($theme, 'colors', 'primary', 'main');
      }
    }
  }
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(244, 233, 222, 0.2);
  transition: all 0.4s ease;
  backdrop-filter: blur(8px);
  z-index: 20;
}

@media (max-width: map-get($theme, 'breakpoints', 'medium')) {
  .wrapper {
    display: none;
  }
}
