.filters-ordering {
  margin: 30px 0;

  h3 {
  }

  input {
    margin-right: 20px;
    width: 17px;
    height: 17px;
  }

  label {
    font-size: 2rem;
    font-weight: 300;
  }

  input[type='radio']:checked {
  }

  .input-wrapper {
    margin: 20px 0 20px 20px;
  }
}
