$theme: (
  colors: (
    primary: (
      main: #fff9f3,
      90: rgba(255, 249, 243, 0.9),
      80: rgba(255, 249, 243, 0.8),
      70: rgba(255, 249, 243, 0.7),
      60: rgba(255, 249, 243, 0.6),
      50: rgba(255, 249, 243, 0.5),
      40: rgba(255, 249, 243, 0.4),
      30: rgba(255, 249, 243, 0.3),
      20: rgba(255, 249, 243, 0.2),
      10: rgba(255, 249, 243, 0.1),
    ),
    secondary: (
      main: #182c25,
      90: rgba(24, 44, 37, 0.9),
      80: rgba(24, 44, 37, 0.8),
      70: rgba(24, 44, 37, 0.7),
      60: rgba(24, 44, 37, 0.6),
      50: rgba(24, 44, 37, 0.5),
      40: rgba(24, 44, 37, 0.4),
      30: rgba(24, 44, 37, 0.3),
      20: rgba(24, 44, 37, 0.2),
      10: rgba(24, 44, 37, 0.1),
    ),
    dark: (
      main: #0a0a0a,
      90: rgba(10, 10, 10, 0.9),
      80: rgba(10, 10, 10, 0.8),
      70: rgba(10, 10, 10, 0.7),
      60: rgba(10, 10, 10, 0.6),
      50: rgba(10, 10, 10, 0.5),
      40: rgba(10, 10, 10, 0.4),
      30: rgba(10, 10, 10, 0.3),
      20: rgba(10, 10, 10, 0.2),
      10: rgba(10, 10, 10, 0.1),
    ),
    light: (
      main: #fafafa,
      90: rgba(250, 250, 250, 0.9),
      80: rgba(250, 250, 250, 0.8),
      70: rgba(250, 250, 250, 0.7),
      60: rgba(250, 250, 250, 0.6),
      50: rgba(250, 250, 250, 0.5),
      40: rgba(250, 250, 250, 0.4),
      30: rgba(250, 250, 250, 0.3),
      20: rgba(250, 250, 250, 0.2),
      10: rgba(250, 250, 250, 0.1),
    ),
  ),
  breakpoints: (
    extraSmall: 320px,
    small: 480px,
    medium: 768px,
    large: 992px,
    extraLarge: 1200px,
    extraExtraLarge: 1600px,
  ),
);
