@import '/app/styles/theme.scss';

.wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  form {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    font-size: 2rem;

    input,
    textarea {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #000;
      margin-bottom: 10px;
      background: none;
    }

    button {
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      border: none;
      color: map-get($theme, 'colors', 'primary', 'main');
      background-color: map-get($theme, 'colors', 'secondary', 'main');
      font-size: 2rem;
      transition: background-color 0.3s;

      &:hover {
        background-color: map-get($theme, 'colors', 'secondary', 50);
      }
    }

    .form-group {
      margin-bottom: 20px;
    }
  }
}
